body {
    background-color: rgb(211, 211, 211);
}

.content {
    width: 58%;
    margin: auto;
}

.login {
    width: 100%;
    margin: auto;
}

    .loginForm {
        width: 70%;
        min-width: 296px;
        margin: auto;
        margin-top: 25px;
    }
