body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(211, 211, 211);
}

.main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userType {
    margin: auto;
    margin-top: 40px;
    width: 50%;
    height: 25%;
    background-color: rgb(32, 164, 144);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

.welcome {
    width: 100%;
    height: 20%;
    font-size: 200%;
}

.content {
    width: 100%;
    height: 70%;
}

.userDisc {
    width: 90%;
    margin-top: 15px;
    margin-left: 15px;
    font-size: large;
}

.options {
    height: 600px;
    width: 100%;
    overflow-x: hidden;
}

.userTitle {
    width: 100%;
    text-decoration: none;
    align-content: center;
    text-align: center;
    font-size: xx-large;
}

.linkBox {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

a.linkBox {
    text-decoration: none;
    color: inherit;
}

a:link.linkBox {
    text-decoration: none;
    color: inherit;
}

a:visited.linkBox {
    text-decoration: none;
    color: inherit;
}
