.navbar{
    background-color: #00D0B3 !important;
}

.navbar .navbar-nav .navbar-item .nav-link > a{
    color: ivory !important;
}

.nav-link {
	color: ivory;
}

.nav-link:hover {
	color: cornsilk;
	background-color: #02B196;
}

.active {
	background-color: #02B196; 
	color: cornsilk;
	}

input[type="submit"] {
	background-color:#00D1B2;
	border-radius:5px;
	border:none;
	padding:10px 25px;
	color:#FFF;
	text-shadow:1px 1px 1px #02B196;
}
input[type="submit"]:hover {
	background-color:#02B196
}

.formheader {
	background:#00D1B2;
	color: ivory;
	padding: 5px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

form {
	margin-top: 8px;
	padding: 1em 1em;
	border: 3px solid #00D1B2; 
	background:#fff;
	width: 450px;
	position: relative;
}

.required:after {
    content:" *";
    color: red;
  }

.textbox {
	padding: 1em 1em;
	border: 1px solid #00D1B2; 
	background:#fff;
	width: 300px;
	position: relative;
}


.content {
	width: 58%;
	margin: auto;
}

box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 15px;
	margin: 0 auto;
	overflow: visible;
	padding-bottom: 20%
}
