<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- toastr -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}" />
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

    <title></title>
</head>


<body style="height: 100%; width: 100%">
    {% if alert == "taken" %}
    <script>
        $(document).ready(function () {
            toastr.info("Sorry, that username is taken. Please choose a different name.")
        });
    </script>
    {% endif %}

    {% if alert == "created" %}
    <script>
        $(document).ready(function () {
            toastr.info("Account successfully created. Please Login with your account information.")
        });
    </script>
    {% endif %}


    <div class="container" style="height:20%;">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='css/raise-hand.svg') }}" alt="Logo" style="width: 50px; margin-right: 10px;">
                New Caucus
            </a>
            <ul class="navbar nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="content">
        <div class="login">
            <form method="post" class="loginForm">
                <label for="username">Username:</label>
                <input name="username" id="username" required><br />
                <label for="password">Password:&nbsp</label>
                <input type="password" name="password" id="password" required><br />

                <input type="radio" id="admin" name="userType" value="admin" />
                <label for="admin">Administrator</label><br />

                <input type="radio" id="data" name="userType" value="data" />
                <label for="data">Data Analyst</label><br />

                <input type="radio" id="volunteer" name="userType" value="volunteer" checked/>
                <label for="volunteer">Volunteer</label><br />

                <input type="submit" value="Register"><br />
            </form>
        </div>
    </div>
</body>
</html>
