<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>New Caucus</title>
    <body style="background:#D3D3D3">

        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">
                    <img src="{{ url_for('static', filename='css/raise-hand.svg') }}" alt="Logo" style="width: 50px; margin-right: 10px;">
                    New Caucus
                </a>
                <ul class="navbar nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('home') }}">Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('count') }}">Count</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('data') }}">Data</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <!--Ideally each candidate should be filled into the form automatically-->
            <form action="#">
                <div class="formheader" style="width:450px; position:relative; right:19px; bottom:16px;">Vote One</div>
                <img src="https://i.imgur.com/yXvE8B1.png" alt="profile picture" style="width:100px;height:100px;">
                <div class="textbox" style="bottom:82px; left:110px;">{Candidate Name} <br> {candidate bio/whatever was inputted about the candidate here}</div>
                <label class="required" for="canVote" style="position:relative; bottom:80px;">Input number of votes that {candidate} recieved in this round.</label>

                <input type="number" class="form-control" name="canVote" id="canVote" style="position:relative; bottom:80px;" required>
                <br>
                <input type="submit" value="Confirm" style="position:relative" ">
            </form>
        </div>

        <div class="container">
            <!--Ideally each candidate should be filled into the form automatically-->
            <form action="#" style="left:470px; bottom: 455px;">
                <div class="formheader" style="width:450px; position:relative; right:19px; bottom:16px;">Vote Two</div>
                <img src="https://i.imgur.com/yXvE8B1.png" alt="profile picture" style="width:100px;height:100px;">
                <div class="textbox" style="bottom:82px; left:110px;">{Candidate Name} <br> {candidate bio/whatever was inputted about the candidate here}</div>
                <label class="required" for="canVote" style="position:relative; bottom:80px;">Input number of votes that {candidate} recieved in this round.</label>

                <input type="number" class="form-control" name="canVote2" id="canVote2" style="position:relative; bottom:80px;" required>
                <br>
                <input type="submit" value="Confirm" style="position:relative" ">
            </form>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>

